.gold {
  background: gold;
  box-shadow: -1px -1px 1px 1px silver;
}

.silver {
  background: silver;
  box-shadow: 1px 1px 1px 1px gold;
}

button {
  border: none;
  padding: 7px 8px;
  margin: 4px;
  border-radius: 8px;
  cursor: pointer;
}